

@media screen {
    body {
        margin: 0; /* Remove default body margin */
        overflow-x: hidden; /* Hide horizontal overflow */
    }

    header {
        display: flex; /* Add flexbox layout */
        align-items: center; /* Align items vertically */
        background-color: #6B3CC9;
        max-width: 2560px; /* Set max-width to fit within 1440px */
        height: 77px;
        padding: 0 80px; /* Adjust padding */
        margin: 0 auto; /* Center the header horizontally */
    }

    .head img {
        width: 238.89px; /* Adjust the width of the logo */
        height: auto;
    }

    .navbar {
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        font-family: "Inter", sans-serif;
        font-size: 14px;
        margin-left: auto; /* Push the navbar to the right */
        font-weight: 500;
    }
    
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex; /* Make the navbar items flex */
    }
    
    .navbar li {
        margin-left: 20px; /* Adjust spacing between list items */
    }
    
    .navbar li:first-child {
        margin-left: 0; /* Remove margin from the first list item */
    }

    .navbar li a {
        text-decoration: none;
        color: #fff;
    }

    .headimg img {
        width: 1440px;
    }

    .overlay {
        width: 630px; /* Fixed width */
        height: 306px; /* Hugs its content */
        position: absolute;
        top: 354px;
        left: 80px;
        padding: 24px 40px 32px 40px;

    
        /* Gradient background */
        background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%); /* Custom gradient */
    }

    .overlay p {
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        line-height: 48px; /* Adjust the line height to match font-size */
        text-align: left; /* Align text to the left */
        margin-top: 10px;
    }

    .overlay button {
        width: 214px; /* Hugs its content */
        height: 38px; /* Hugs its content */
        padding: 12px; /* Adjust padding */
        border-radius: 4px 4px 4px 4px; /* Adjust border-radius */
        background: #F28D35; /* Background color */
        border: none; /* Remove border */
        color: white; /* Text color */
        font-family: "Inter", sans-serif; /* Font family */
        font-size: 14px; /* Font size */
        font-weight: 700; /* Font weight */
        cursor: pointer; /* Cursor style */
    }

    .overlay button:hover {
        background-color: #E67925;
    }
    

}





@media (max-width: 1440px){
    .headimg img {
        width: 1440px;
    }

}

@media (max-width: 1200px){

}

@media (max-width: 768px){

}

@media (max-width: 375px){

}